################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/3rdparty/libav
/Voukoder/x64
/.vs
