# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build dirs
/.vs/
/Core/x64/
/Core/debug/
/Core/release/
/Core/GeneratedFiles/
/PremierePlugin/x64/
/PremierePlugin/debug/
/PremierePlugin/release/
/PremierePlugin/GeneratedFiles/
/AfterEffectsPlugin
/VoukoderCore
/x64/Debug
/PremierePluginOld/.vs/PremierePluginOld/v15
