<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Properties.wxi?>
  
  <Product 
    Id="*" 
    Name="Voukoder $(var.PublicProductVersion)"
    Manufacturer="Daniel Stankewitz" 
    Version="$(var.PrivateProductVersion)" 
    Language="1033"
    UpgradeCode="30bbae4a-f5ed-40b1-bd45-5c2ba875ebef">

    <Package
      InstallerVersion="301" 
      Manufacturer="Daniel Stankewitz"
      Description="Installs the Voukoder component"
      Compressed="yes"
      InstallScope="perMachine" />

    <MajorUpgrade Schedule="afterInstallInitialize"
              DowngradeErrorMessage="A later version of Voukoder is already installed"
              AllowSameVersionUpgrades="yes" />
		
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
    
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />

    <UIRef Id="WixUI_InstallDir" />

    <Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high" />

    <Directory Id="TARGETDIR" Name="SourceDir">
	    <Merge Id="VCRedist" SourceFile="Microsoft_VC143_CRT_x64.msm" DiskId="1" Language="0" />
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Voukoder"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="voukoder.dll">
        <File Id="voukoder.dll" Source="$(var.Voukoder.TargetPath)" KeyPath="yes">
          <Class Id="E9661BFA-4B8E-4217-BCD8-24074D75000B" Advertise="no" Context="InprocServer32" ThreadingModel="both" Description="Voukoder media encoding library">
            <Interface Id="57DAA67D-A35F-4737-856A-F26A460C9C7F" Name="IVoukoder" />
            <ProgId Id="Voukoder.COMServer" Description="Voukoder media encoding library" />
          </Class>
        </File>
      </Component>
      <Component Id="voukoder.tlb">
        <File Id="voukoder.tlb" Source="$(var.Voukoder.ProjectDir)$(var.Platform)\$(var.Configuration)\voukoder.tlb" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Feature Id="Voukoder" Title="Voukoder Core" Level="1">
      <ComponentRef Id="voukoder.dll" />
      <ComponentRef Id="voukoder.tlb" />
	    <MergeRef Id="VCRedist" />
    </Feature>

  </Product>

</Wix>
